.header{
  position : fixed;
  height: 100px;
  background-color: cadetblue;
  border-bottom: 2px black dashed;
  z-index: 800;
  width: 100%;
  left:0;
  top:0;
}

nav {
  padding : 10px;
  font-size: 0.8em;
  background-color: lightblue;
  position : fixed;
  top : 100px;
  left : 0;
  width: 20%;
  height: 100%;
}

.content {
  position : absolute;
  top : 100px;
  left : 20%;

  padding : 25px;
}
