Navigation :
<!-- <ul>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="home">Home</a></li>
  <li>Les démos
    <ul>
      <li><a routerLink="demo/demo1">Démo 1 : Propriétés</a></li>
      <li><a routerLink="demo/demo2">Démo 2 : Bindings</a></li>
      <li><a routerLink="demo/demo3">Démo 3 : Pipes</a></li>
      <li><a routerLink="demo/demo4">Démo 4 : Directives</a></li>
    </ul>
  </li>
  <li>Exercices
    <ul>
      <li><a routerLink="exercices/exo1">Chronomètre</a></li>
    </ul>
  </li>
</ul> -->

<ul>
  <li *ngFor="let lien of listeLien; let i = index">
    <a [routerLink]="lien.url"
       (click)="toggleChildrenVisible(i)"
       [ngClass]="{master : lien.children}"
       >{{lien.title}}</a>
       <ul *ngIf="lien.isChildrenVisible && lien.children">
        <li *ngFor="let souslien of lien.children">
          <a [routerLink]="souslien.url">{{souslien.title}}</a>
        </li>
       </ul>
  </li>
</ul>
